*{
    margin: 0;
    padding: 0;
}
.home{
    width: fit-content;
    min-height: 600px;
     min-width: 548px;
    border-radius: 10px;
    color: white;
    background-color:rgba(255, 255, 255, 0.208);
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #fff;
   
    overflow: auto;
    padding-top: 45px;
}
table{
    width: 100%;
}
td{
    padding: 14px;
    position: relative;
}
tr{
    position: relative;
}
tr::after{
    content: "";
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to left,red,blue);
    transition: 500ms;
    border-radius: 3px;
}
tr:hover::after{
    width: 100%;
}
button{
    padding: 5px;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}
.submit{
    width: fit-content;
    background-color: aquamarine;
    color: black; margin-top: 100px;
     margin-left: 40%;;

    transition: 0.3s all;
}
.submit:hover{
    box-shadow: 0px 0px 40px aquamarine;

}
.edit:hover{
    box-shadow: 0px 0px 20px #0f0;
    transition: 0.3s;
}
.delete:hover{
    box-shadow: 0px 0px 20px #f00;
    transition: 0.3s;
}
@media (max-width:768px) {
    .home{
        width: 80%;
        padding: 2%;
    }
    table{
        width: 100%;
        padding-top: 50px;
    }
    td{
        padding: 4px;
    }
}