<div class="about">
      <p style="margin-bottom: 36px;">Hi Sir/Madam this is Khursheed Abbas MERN stack Developer and this is my assignment </p>
    <p style="margin-bottom: 36px;">I have try to make as best for this assignment <br/>
    I hope you like my work
    <b style="color: aqua;">Technologies used :</b>Angular ,Nodejs,Expressjs,Angular Material UI
    </p>
    <span>you can also contact me through these links</span>
    <div style='display: flex; justify-content: space-evenly;'>

      <a href="https://www.linkedin.com/in/khursheedabbasmirza7278/">Linkedin</a>
      
      <a href="mailto:mirzakhursheedabbas14@gmail.com"><mat-icon> mail_outline</mat-icon></a>
      <a href="https://github.com/khursheed-abbas-Mirza">Github</a>

      
      <a href="https://portfolio-alpha-five-25.vercel.app/"><mat-icon>language</mat-icon></a>
      </div>

      <p style="margin-bottom: 36px;">Front-End:<a>Link</a></p>
      <p>Back-End:<a>Link</a></p>
</div>
